## Ejercicio 1: Crear y modificar un diccionario de Python.

In [48]:
planet = {
    'name': 'Mars',
    'moons': 2
}

In [49]:
planet = {
    'name': 'Mars',
    'moons': 2
}
print(f"{planet['name']} has {planet['moons']} moons")

Mars has 2 moons

In [50]:
planet = {
    'name': 'Mars',
    'moons': int(2)
}
planet['circumference (km)'] = {
    'polar' : float(6752),
    'equatorial' : float(6792)
}

In [51]:
planet = {
    'name': 'Mars',
    'moons': int(2)
}
planet['circumference (km)'] = {
    'polar' : float(6752),
    'equatorial' : float(6792)
}
print(f"{planet['name']} polar circumference: {planet['circumference (km)']['polar']}")

Mars polar circumference: 6752.0

## Ejercicio 2: CÃ¡lculo de valores.

In [149]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}
moons = planet_moons.values()
planets = planet_moons.keys()
total_moons = 0
for moons in planet_moons.values():
        total_moons = total_moons + moons
print(f'El total de lunas es: {total_moons}')

El total de lunas es: 214

In [167]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}
moons = planet_moons.values()
planets = len(planet_moons.keys())
total_moons = 0
for moons in planet_moons.values():
        total_moons = total_moons + moons
average = total_moons / planets
print(average)

17.833333333333332